/* - Universal Selectors */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* - At-rules */

@font-face {
  font-family: 'AlegreyaSans';
  src: url('/assets/fonts/AlegreyaSans.woff2') format('woff2');
  src: url('/assets/fonts/AlegreyaSans.ttf') format('truetype');
}
@font-face {
  font-family: 'AlegreyaSC';
  src: url('/assets/fonts/AlegreyaSC.woff2') format('woff2');
  src: url('/assets/fonts/AlegreyaSC.ttf') format('truetype');
}
@font-face {
  font-family: 'NixieOne';
  src: url('/assets/fonts/NixieOne.woff2') format('woff2');
  src: url('/assets/fonts/NixieOne.ttf') format('truetype');
}

/* - Global Variables */

:root {
  --global--paragraph--TextColor--light: #ffffff;
  --global--paragraph--TextColor--dark: #6a6a6a;
  --global--heading2--TextColor--light: #ffffff;
  --global--heading2--TextColor--dark: #3a4f52;
}

/* - Classes */

.font--alegrea-sans {
  font-family: AlegreyaSans;
}

.font--alegrea-sc {
  font-family: AlegreyaSC;
}

.font--nixie-one {
  font-family: NixieOne;
}

.capital-text {
  text-transform: capitalize;
}

.to-upper-case {
  text-transform: uppercase;
}

.fixed-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  display: table;
  max-width: none;
  height: 100vh;
}

/* - IDs */

/* - Type Selectors */

html {
  font-size: 62.5;

  header {
    background-image: url('/assets/img/header.png');
    color: var(--global--paragraph--TextColor--light);

    h1 {
      font-size: clamp(2rem, 4rem, 6rem);
      font-weight: 500;
    }

    p:nth-of-type(1) {
      font-size: clamp(3rem, 5.5rem, 8rem);
      font-weight: 100;
    }

    p:nth-of-type(2) {
      opacity: 0.5;
      font-size: clamp(1rem, 2.5rem, 4rem);
    }
  }

  /* main {
    background-image: url(/assets/img/services.png);
  } */

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none !important;
    color: inherit;
  }
}
