/* - Universal Selectors */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* - At-rules */

@font-face {
  font-family: 'AlegreyaSans';
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 0% 200%;
  src: url('/assets/fonts/AlegreyaSans.woff2') format('woff2');
  src: url('/assets/fonts/AlegreyaSans.ttf') format('truetype');
}
@font-face {
  font-family: 'AlegreyaSC';
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 0% 200%;
  src: url('/assets/fonts/AlegreyaSC.woff2') format('woff2');
  src: url('/assets/fonts/AlegreyaSC.ttf') format('truetype');
}
@font-face {
  font-family: 'NixieOne';
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 0% 200%;
  src: url('/assets/fonts/NixieOne.woff2') format('woff2');
  src: url('/assets/fonts/NixieOne.ttf') format('truetype');
}

/* - Global Variables */

:root {
  --global--background--Color: #f1f0f0;
  --global--link--Color: #4da7ca;
  --global--paragraph--TextColor--light: #ffffff;
  --global--paragraph--TextColor--dark: #6a6a6a;
  --global--heading2--TextColor--light: #ffffff;
  --global--heading2--TextColor--dark: #3a4f52;
}

/* - Classes */

.font--alegrea-sans {
  font-family: AlegreyaSans;
}

.font--alegrea-sc {
  font-family: AlegreyaSC;
}

.font--nixie-one {
  font-family: NixieOne;
}

.capital-text {
  text-transform: capitalize;
}

.to-upper-case {
  text-transform: uppercase;
}

.fixed-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  display: table;
  max-width: none;
  height: 100vh;
}

/* - IDs */

#header {
  background-image: url('/assets/img/header.png');
  color: var(--global--paragraph--TextColor--light);

  nav {
    display: flex;
    justify-content: space-between;
    padding: clamp(1rem, 3rem, 5rem);

    h1 {
      font-size: clamp(2rem, 4rem, 6rem);
      font-weight: 500;
    }
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 clamp(30rem, 50rem, 70rem);
    margin-top: clamp(30rem, 34rem, 70rem);
    margin-bottom: clamp(30rem, 34rem, 70rem);

    p:nth-of-type(1) {
      font-size: clamp(3rem, 5.5rem, 8rem);
      font-weight: 400;
      margin-bottom: clamp(0.5rem, 1.5rem, 2.5rem);
    }

    p:nth-of-type(2) {
      opacity: 0.5;
      font-size: clamp(1rem, 2.5rem, 4rem);
      font-weight: 400;
    }
  }
}

#portfolio {
}

#services {
}

#blog {
}

#parallax {
}

#testimonials {
}

#contact {
}

/* - Type Selectors */

html {
  font-size: 62.5%;
  background-color: var(--global--background--Color);

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none !important;
    color: var(--global--link--Color); /* ! fallback color */
    color: unset;
    cursor: pointer;
  }
}
